@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: #2a9d8f;
  --color-primary-dark: #264653;
  --color-secondary: #e9c46a;
  --color-accent: #f4a261;
  --color-nature-green: #2a9d8f;
  --color-ocean-blue: #264653;
  
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-montserrat);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
